@import url('./_app.css');
@import url('keen-slider/keen-slider.min.css');
@import url('react-loading-skeleton/dist/skeleton.css');

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: ALSGranate sans-serif;
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('../../public/fonts/ALSGranate-Medium.woff') format('woff'), url('../../public/fonts/ALSGranate-Medium.woff2') format('woff2');
}

@font-face {
    font-family: ALSGranate sans-serif;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('../../public/fonts/ALSGranate-Regular.woff') format('woff'), url('../../public/fonts/ALSGranate-Regular.woff2') format('woff2');
}

@font-face {
    font-family: ALSGranate sans-serif;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('../../public/fonts/ALSGranate-Light.woff') format('woff'), url('../../public/fonts/ALSGranate-Light.woff2') format('woff2');
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*::selection{
    background: rgba(60, 26, 112, 0.85);
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: ALSGranate sans-serif;
    font-weight: 300;
    scrollbar-gutter: stable;
}

html, body {
    @apply flex-1 h-full bg-black
}

#__next {
    @apply flex-1 h-full flex flex-col text-white justify-between
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    width: 1px;
    background: #777;
    border: 3px solid #000;
}

::-webkit-scrollbar-thumb {
    width: 5px;
    background: #ccc;
    border: 1px solid #000;
    border-radius: 5px;
}

a {
    text-decoration: none;
}

p {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.16em;
    text-transform: none;
}

button {
    background: none;
    border: none;
    outline: none;
}

input, a {
    outline: none;
    border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.app-container {
    @apply px-[100px]
}

@layer {
    .animated {
        @apply transition-all duration-300
    }
    .premium-text {
        background: linear-gradient(to right, #a12ec2 0%, #4875d7 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
