@import url('./_app.css');

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: ALSGranate sans-serif;
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('../../public/fonts/ALSGranate-Medium.woff') format('woff'), url('../../public/fonts/ALSGranate-Medium.woff2') format('woff2');
}

@font-face {
    font-family: ALSGranate sans-serif;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('../../public/fonts/ALSGranate-Regular.woff') format('woff'), url('../../public/fonts/ALSGranate-Regular.woff2') format('woff2');
}

@font-face {
    font-family: ALSGranate sans-serif;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('../../public/fonts/ALSGranate-Light.woff') format('woff'), url('../../public/fonts/ALSGranate-Light.woff2') format('woff2');
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*::selection{
    background: rgba(60, 26, 112, 0.85);
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: ALSGranate sans-serif;
    font-weight: 300;
}

html, body {
    @apply flex-1 h-full bg-black
}

#__next {
    @apply flex-1 h-full flex flex-col text-white
}



