.header {
    @apply flex items-center justify-end py-1.5 z-[110] fixed top-0 left-0 right-0 w-full transition-all
}

.headerActive {
    @apply bg-black/75 transition-all backdrop-blur-3xl custom-shadow
}

.logo {
    @apply pos-abs
}

.logo {
    font-size: 44px;
    display: flex;
    align-items: center;
}

.logoLeft {
    transform: rotate(-4deg);
    text-shadow: 2px -2px 14px white;
    user-select: none;
}

.logoRight {
    transform: rotate(4deg);
    text-shadow: 2px -2px 14px white;
    user-select: none;
}

.NavLink {
    @apply transition-all hover:bg-dark px-3 py-1 rounded-md uppercase max-xl:hidden text-[15px]
}

.NavLinkActive {
    @apply bg-white px-3 py-1 rounded-md text-dark hover:bg-white
}

.headerButton {
    @apply size-10 flex-center bg-dark rounded-xl transition-all
}

.headerButton:hover .search {
    @apply text-primary
}

.search {
    @apply transition-all cursor-pointer h-5 w-5
}
